<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

  h2{
    color:darkgreen;
  }
  h3{
    background-color: darkcyan;
  }

  .tp1{
    text-align: center;
  }

</style>

<!-- Toolbar -->
<div class="container">

        <div class="tp1 col-md-8 col-md-offset-2">
          <h1>Module Angular-Animation</h1>
          <h2>{{seance}}</h2>
          <h3>{{resume}}</h3>
          <ul class="list-group">
                          <app-etudiant nomEtu="Belais" prenomEtu="Genieve" statusEtu="présente"></app-etudiant>
                          <app-etudiant nomEtu="Bleck" prenomEtu="Paul" statusEtu="présent"></app-etudiant>
                          <app-etudiant nomEtu="Denis" prenomEtu="Roger" statusEtu="présent"></app-etudiant>         
          </ul>
          
          <div class="btn-group">
              <button type="button" class="btn btn-success" [disabled]="!isAuth">Tous présents</button>
          </div>

        </div>
       

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * *[Disabled]="!isAuth" (click)="maFonction()" * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>